ul.keys {
	margin: -0.75em 0 1.5em 0;
	padding: 0;
	color: #A2A2A2;
	color: rgba(0, 0, 0, 0.4);
	list-style: none;
}

ul.keys li {
	display: inline;
	padding: 0 6px 0 0;
	word-spacing: -1px;
	font-size: 90.91%;
	float: none;
	border: none;
}