ul.keys {
	margin: -0.75em 0 1.5em 0;
	padding: 0;
	color: #A2A2A2;
	color: rgba(0, 0, 0, 0.4);
	list-style: none;
}

ul.keys li {
	display: inline;
	padding: 0 6px 0 0;
	word-spacing: -1px;
	font-size: 90.91%;
	float: none;
	border: none;
}
ul.codelist {
	margin-left: 0;
	display: inline-block;
	width: 100%;
	padding: 15px 0px;
	overflow-y: auto;
	max-height:500px;
}
ul.codelist li {
	float: left;
	width: 49%;
	padding-left: 2%;
	clear: none;
	border: none !important;
}
ul.codelist li:nth-of-type(2n+1) {
	padding-left: none !important;
	padding-right: 6%;
	border-right: none;
}

ul.codelist li input {
	margin-top: 0px !important;
}
ul.codelist li input:nth-child(1) {
	float: left;
	width: 75%;
}

ul.codelist li input:nth-child(2) {
	float: right;
	width: 20%;
}

ul.codelist li.expired input {
	background-color: rgb(255, 217, 217);

}

.frame label {
	font-size: 13px;
	font-weight: bold;
}